<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/buy">
    <div>
        商品：<br>
        <input type="radio" name="name" value="苹果">苹果<br>
        <input type="radio" name="name" value="小米">小米<br>
        <input type="radio" name="name" value="华为">华为<br>
        <input type="radio" name="name" value="vivo">vivo<br>
    </div>
    <div>
        数量：<input name="count">
    </div>
    <button type="submit">提交</button>
</form>

</body>
</html>