<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>简历列表</h2>
    <form action="/addResume" method="post">
        <div>name: <input name="name" type="text"></div>
        <div>address: <input name="address" type="text"></div>
        <div>phone: <input name="phone" type="text"></div>
        <div><button type="submit">提交</button></div>
    </form>
    <ul th:each="resume : ${resumes}">
        <li>
            <span th:text="${resume.id}"></span>
            <span th:text="${resume.name}"></span>
            <span th:text="${resume.address}"></span>
            <span th:text="${resume.phone}"></span>
        </li>
    </ul>
</body>
</html>